name: rover-backend

version: "3.9"

services:
  db:
    image: postgres:15
    restart: always

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    mem_limit: 512m
    cpus: "0.5"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile

    restart: always

    ports:
      - "8000:8000"

    env_file:
      - .env

    volumes:
      - .:/app
      - ./weights:/app/weights

    depends_on:
      db:
        condition: service_healthy

    mem_limit: 512m
    cpus: "0.5"

volumes:
  postgres_data:
